<div class="container-fluid">
   
    <div class="row mt-3">
        <div class="container-fluid">

            <h1 style="text-align: center">Pathsala</h1>
            <img src="assets/6182899.png"  width="400px" height="350px" alt="">          
            <p>
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Facilis mollitia rem ex nobis, minima esse, reprehenderit, aperiam eligendi quisquam odio dignissimos. Omnis animi voluptates, quod veritatis reprehenderit iste harum ab!
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis similique fuga quis mollitia quae laborum perspiciatis aliquam et hic ipsam consequuntur expedita dicta veniam quaerat excepturi ex, nemo, eum consequatur?

                
            </p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci veniam ut animi, saepe culpa libero velit, atque perspiciatis ipsum inventore delectus obcaecati. Reiciendis asperiores maiores rerum labore, omnis autem? Suscipit.</p>
           
        </div>
            
       
    </div>

    <div class="row mt-5">


        <div class="col-sm-3">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="assets/lib.avif" alt="Card image cap">
                <div class="card-body">
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                
                  <button type="button" class="btn btn-block mb-4">Buy</button>
                  
                </div>
              </div>
        </div>
        <div class="col-sm-3">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="assets/lib.avif" alt="Card image cap">
                <div class="card-body">
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  <button type="button" class="btn btn-block mb-4">Buy</button>
                 
                </div>
              </div>
        </div>
        <div class="col-sm-3">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="assets/lib.avif" alt="Card image cap">
                <div class="card-body">
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <button type="button" class="btn btn-block mb-4">Buy</button>
                  
                </div>
              </div>
        </div>
        <div class="col-sm-3">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="assets/lib.avif" alt="Card image cap">
                <div class="card-body">
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <button type="button" class="btn btn-block mb-4">Buy</button>
                  
                </div>
              </div>
        </div>
        

    </div>
    <div class="row mt-5 mb-5">
        <div class="col-sm-3">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="assets/lib.avif" alt="Card image cap">
                <div class="card-body">
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                
                  <button type="button" class="btn btn-block mb-4">Buy</button>
                  
                </div>
              </div>
        </div>
        <div class="col-sm-3">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="assets/lib.avif" alt="Card image cap">
                <div class="card-body">
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  <button type="button" class="btn btn-block mb-4">Buy</button>
                 
                </div>
              </div>
        </div>
        <div class="col-sm-3">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="assets/lib.avif" alt="Card image cap">
                <div class="card-body">
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <button type="button" class="btn btn-block mb-4">Buy</button>
                  
                </div>
              </div>
        </div>
        <div class="col-sm-3">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="assets/lib.avif" alt="Card image cap">
                <div class="card-body">
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <button type="button" class="btn btn-block mb-4">Buy</button>
                  
                </div>
              </div>
        </div>
    </div>

    

</div>

<app-foot></app-foot>