<div class="container-fluid">



    <div class="row">


    </div>

    <div class="row">


        <div class="col-sm-2">
        
            <!-- Basic dropdown -->
<button class="btn btn-primary dropdown-toggle mr-4" type="button" data-toggle="dropdown"
aria-haspopup="true" aria-expanded="false">Basic dropdown</button>

<div class="dropdown-menu">
<button>Action</button>
<a class="dropdown-item" href="#">Another action</a>
<a class="dropdown-item" href="#">Something else here</a>
<div class="dropdown-divider"></div>
<a class="dropdown-item" href="#">Separated link</a>
</div>
<!-- Basic dropdown -->

        </div>



        <div class="col-sm-10">
    <h1>Hi</h1>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam ratione sit iste harum aliquid fugiat tempore veritatis quos provident, incidunt architecto ut dolore vel saepe nulla illo! Sunt, accusamus nulla!</p>  
<br>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Est sint repudiandae neque consequatur hic eaque nobis necessitatibus, vel aperiam voluptas eum adipisci quia aliquid iure eveniet magnam amet qui rem!</p>  
<h3>Hey</h3>
        </div>

    </div>





</div>